* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
}

.container {
  max-width: 1146px;
  margin: auto;
  align-items: center;
}
.header {
  margin-top: 30px;
  margin-bottom: 40px;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.nav {
  margin-left: 20px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 15px;
}
.item-link {
  color: #0a143a;
  text-decoration: none;
}

.buttons-group {
  margin-left: auto;
  display: flex;
}
.button {
  color: #0a143a;
  text-decoration: none;
  padding: 10px 15px;
}
.button-primary {
  margin-left: 10px;
  background: #256eeb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.search-panel {
  background: #256eeb;
  display: flex;
  padding: 3px;
  border: none;
  border-radius: 5px;
  height: 50px;
}
.search-input {
  flex-grow: 1;
  color: #9da1b0;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}
.search-button {
  display: flex;
  align-items: center;
  padding-right: 17px;
  padding-left: 17px;
  border: none;
  border-radius: 5px;
  background: none;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.search-icon {
  margin-right: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
  align-items: stretch;
}

.main-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #0a143a;
  margin-bottom: 25px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
}
.card {
  margin-bottom: 20px;
}
.card-image {
  height: 178px;
  border: none;
  border-radius: 10px;
}
.card-info {
  margin-top: 10px;
  width: 261px;
  justify-content: start;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}
.favourite {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-price {
  font-weight: bold;

  line-height: 19px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card-description {
  color: #c4c4c4;
}
.location {
  margin-bottom: 4px;
}

.page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.service {
  display: block;
  justify-content: flex-start;
  cursor: pointer;
}
.service:not(:last-child) {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 5px;
}
.before::before {
  content: " ";
  display: block;
  width: 261px;
  height: 1px;
  background: #e5e5e5;
  top: 50px;
  left: 20;
}

.footer-menu {
  list-style: none;
  margin-bottom: 16px;
}
.footer-text {
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 5px;
}
